# Ignore credentials
credentials.json

# Ignore Python environments
.venv/
__pycache__/

# Ignore IDE settings
.idea/

# Ignore zip files and logs
*.zip
*.log

# Ignore compiled Python files
*.pyc
*.pyo
*.pyd
